<include file="Public/mobile_head"/>
<link href="{:ADDON_PUBLIC_PATH}/Show.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
<body id="scratch">
    <div class="container body"style="position:relative;"> 
        <div class="head_box">
            <img src="{:ADDON_PUBLIC_PATH}/img/title.gif" width="100%"/>
            <a style="float:right;" href="{:addons_url('TimeBank://TimeBank/show')}">返回&nbsp;&nbsp;</a>
            <br>
        </div>
        <div class="box">
            <h6>
                1.存入:做作业，看书，其他<br>
                2.支出:看电视，玩手机，其他<br>
            </h6>
        </div>
    </div>
</body>
</html>