<include file="Public/mobile_head"/>
<link href="{:ADDON_PUBLIC_PATH}/Show.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
<!-- 引入 jQuery Mobile 样式 -->
<link rel="stylesheet" href="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
<!-- 引入 jQuery 库 -->
<script src="http://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
<!-- 引入 jQuery Mobile 库 -->
<script src="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<script type="text/javascript" src="__JS__/m/dialog.js"></script>
<script type="text/javascript" src="__JS__/m/mobile_module.js"></script>
<link rel="stylesheet" href="{:ADDON_PUBLIC_PATH}/amazeui.min.css?v={:SITE_VERSION}" />
<body id="scratch">
<a class="start_btn" href="{:addons_url('PhotoManagement://PhotoManagement/show',array('flag'=>$flag , 'memo'=>$memo , 'hidden'=>$hidden , 'type'=>$type , 'startDate'=>$startDate , 'endDate'=>$endDate ))}">重新搜索</a>
    <div class="container body"style="position:relative;">
           <ul data-am-widget="gallery" class="am-gallery am-avg-sm-2
                am-avg-md-3 am-avg-lg-4 am-gallery-overlay" data-am-gallery="{ pureview: true }">
                <volist name='data' id='c'>
                    <a href="{:addons_url('PhotoManagement://PhotoManagement/showPhoto',array('name'=>$c['name'] ,'page'=>$page , 'flag'=>$flag , 'memo'=>$memo , 'hidden'=>$hidden , 'type'=>$type , 'startDate'=>$startDate , 'endDate'=>$endDate))}">
                        <img src="{$c.short}"  alt="{$c.name}"/>
                    </a>
                </volist>  
            </ul>
    </div>
<php>if($totalPages > 1):</php>
<div id="pager_box">
    <php>if($page > 1):</php>
    <a href="{:addons_url('PhotoManagement://PhotoManagement/showList',array('page'=>$page-1 , 'flag'=>$flag , 'memo'=>$memo , 'hidden'=>$hidden , 'type'=>$type , 'startDate'=>$startDate , 'endDate'=>$endDate ))}" id="prev" class="pure-button pager_child pager_p_n pure-button-primary">上一页</a>
    <php>endif;</php>
    <php>if($page < $totalPages):</php>
    <a href="{:addons_url('PhotoManagement://PhotoManagement/showList',array('page'=>$page+1, 'flag'=>$flag , 'memo'=>$memo , 'hidden'=>$hidden , 'type'=>$type , 'startDate'=>$startDate , 'endDate'=>$endDate ))}" id="next" class="pure-button pager_child pager_p_n pure-button-primary">下一页</a>
    <php>endif;</php>
</div>
<php>endif;</php>
</body>
</html>