<include file="Public/mobile_head"/>
<link href="{:ADDON_PUBLIC_PATH}/Show.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
<!-- 引入 jQuery Mobile 样式 -->
<link rel="stylesheet" href="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
<!-- 引入 jQuery 库 -->
<script src="http://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
<!-- 引入 jQuery Mobile 库 -->
<script src="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<script type="text/javascript" src="__JS__/m/dialog.js"></script>
<script type="text/javascript" src="__JS__/m/mobile_module.js"></script>
<body id="scratch">
    <div class="container body"style="position:relative;"> 
        <div class="m_15"> 
            <form id="form" method="post">
                <div class="box">
                    <label class="mb_10">
                         <select maxlength="30" name="type">
                            <option value="0">照片</option>
                            <option value='1'>影像</option>
                        </select>
                    </label>
                    <label class="mb_10">
                        开始日期
                        <input type="date" maxlength="30" placeholder="请选择开始日期" class="text input-large" name="startDate">
                    </label>
                    <label class="mb_10">
                        结束日期
                        <input type="date" maxlength="30" placeholder="请选择结束日期" class="text input-large" name="endDate">
                    </label>
                    <label class="mb_10">
                        标记
                        <input type="text" maxlength="10" placeholder="请输入标记" name="flag"/>
                    </label>
                    <label class="mb_10">
                        备注
                        <input type="text" maxlength="10" placeholder="请输入备注" name="memo"/>
                    </label>
                    <label class="mb_10">
                        隐藏文件
                        <input type="checkbox" value="1" class="checkbox" name="hidden">
                    </label>
                </div>
            </form>
            <a class="lead_btn" id="showList" >搜索
            </a>
        </div>
    </div>
    <script type="text/javascript">
        $('#showList').click(function () {
            $("#form").attr("action", "{:U('showList')}");
            $('#form').submit();
        })
    </script>
</body>
</html>
