<include file="Public/mobile_head"/>
<link href="{:ADDON_PUBLIC_PATH}/Show.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
<!-- 引入 jQuery Mobile 样式 -->
<link rel="stylesheet" href="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
<!-- 引入 jQuery 库 -->
<script src="http://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
<!-- 引入 jQuery Mobile 库 -->
<script src="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<script type="text/javascript" src="__JS__/m/dialog.js"></script>
<script type="text/javascript" src="__JS__/m/mobile_module.js"></script>
<body id="scratch">
    <div class="container body"style="position:relative;"> 
        <div class="m_15"> 
            <form id="form" method="post" action="{:addons_url('PhotoManagement://PhotoManagement/showList')}">
                <div class="box">
                    <h6>照片总数：{$piccnt}</h6>
                    <h6>影像总数：{$videocnt}</h6>
                    <label class="mb_10">
                         <select maxlength="30" name="type">
                            <option value="0" <php>if($type == 0):</php>selected<php>endif;</php> >照片</option>
                            <option value='1' <php>if($type == 1):</php>selected<php>endif;</php> >影像</option>
                        </select>
                    </label>
                    <label class="mb_10">
                        开始日期
                        <input type="date" maxlength="30" placeholder="请选择开始日期" class="text input-large" name="startDate" value="{$startDate}"/>
                    </label>
                    <label class="mb_10">
                        结束日期
                        <input type="date" maxlength="30" placeholder="请选择结束日期" class="text input-large" name="endDate" value="{$endDate}"/>
                    </label>
                    <label class="mb_10">
                        标记
                        <select maxlength="30" name="flag">
                            <volist name='flaglist' id='c'>
                                <option value="{$c.flag}" <eq name='flag' value='c.flag'>selected</eq> >{$c.flag}</option>
                            </volist> 
                        </select>
                        
                    </label>
                    <label class="mb_10">
                        备注
                        <input type="text" maxlength="10" placeholder="请输入备注" name="memo" value="{$memo}"/>
                    </label>
                    <label class="mb_10">
                        隐藏文件
                        <input type="checkbox" value="1" class="checkbox" name="hidden" value="{$hidden}" <php>if($hidden == 1):</php>checked<php>endif;</php>/>
                    </label>
                </div>
            <button class="lead_btn" type="submit">搜索
            </form>
        </div>
    </div>
</body>
</html>
