<script language="javascript" type="text/javascript"> 
// 以下方式直接跳转
//window.location.href='http://syue77.imwork.net/publiccenter/';
//window.location.href='/demos/parallax';
//window.location.href='/demos/infinite';
//window.location.href='/demos/carousel';
//window.location.href='/demos/probe';
//window.location.href='/demos/event-passthrough';
//window.location.href='/demos/forms';
//window.location.href='/demos/simple';
//window.location.href='/iscrollview/demo/build';
// 以下方式定时跳转
//setTimeout("javascript:location.href='hello.html'", 5000); 
</script>