<include file="Public/mobile_head"/>
<link href="{:ADDON_PUBLIC_PATH}/parenting.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
<!-- 引入 jQuery Mobile 样式 -->
<link rel="stylesheet" href="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
<!-- 引入 jQuery 库 -->
<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
<!-- 引入 jQuery Mobile 库 -->
<script type="text/javascript" src="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<script type="text/javascript" src="{:ADDON_PUBLIC_PATH}/lib/iscroll.js"></script>
<script type="text/javascript" src="__JS__/m/dialog.js"></script>
<script type="text/javascript" src="__JS__/m/mobile_module.js"></script>
<script type="text/javascript">
    var myScroll;
    var page = 1;
    function loaded() {
        $('#scroller').css("backgroundImage", "url({:ADDON_PUBLIC_PATH}/scroller1.png)");
        $('#memo').css("backgroundImage", "url({:ADDON_PUBLIC_PATH}/memo1.png)");
        $('#background').css("backgroundImage", "url({:ADDON_PUBLIC_PATH}/background.jpg)");
        myScroll = new IScroll('#wrapper', {
            mouseWheel: true,
            indicators: [{
                    el: document.getElementById('starfield1'),
                    resize: false,
                    ignoreBoundaries: true,
                    speedRatioY: 0.4
                }, {
                    el: document.getElementById('starfield2'),
                    resize: false,
                    ignoreBoundaries: true,
                    speedRatioY: 0.2
                }]
        });
        myScroll.on('scrollEnd', function () {
            console.log(this.y);
            console.log($('#page').val());
            if (this.y === 0 && page > 1) {
                onsole.log('previousPage');
                page++;
                $('#scroller').css("backgroundImage", "url({:ADDON_PUBLIC_PATH}/scroller" + page + ".png')");
                $('#memo').css("backgroundImage", "url({:ADDON_PUBLIC_PATH}/memo" + page + ".png)");
            }
            if (this.y <= -1373 && page < 3) {
                console.log('nextPage');
                page--;
                $('#scroller').css("backgroundImage", "url({:ADDON_PUBLIC_PATH}/scroller" + page + ".png')");
                $('#memo').css("backgroundImage", "url({:ADDON_PUBLIC_PATH}/memo" + page + ".png)");
            }
            if (this.y <= -1373 && page === 3) {
                console.log('regist');
            }
        });
    }
    function isPassive() {
        var supportsPassiveOption = false;
        try {
            addEventListener("test", null, Object.defineProperty({}, 'passive', {
                get: function () {
                    supportsPassiveOption = true;
                }
            }));
        } catch (e) {
        }
        return supportsPassiveOption;
    }
    document.addEventListener('touchmove', function (e) {
        e.preventDefault();
    }, isPassive() ? {
        capture: false,
        passive: false
    } : false);

</script>

</head>
<body onload="loaded()">
    <form id="submitForm" class="form-horizontal form-center">
        <div id="wrapper">
            <div id="scroller"></div>
        </div>

        <div class="starfield" id="starfield1">
            <div id="memo"></div>
        </div>

        <div class="starfield" id="starfield2">
            <div id="background"></div>
        </div>
    </form>
</body>
</html>