<include file="Public/mobile_head"/>
<link href="{:ADDON_PUBLIC_PATH}/parenting.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
<!-- 引入 jQuery Mobile 样式 -->
<link rel="stylesheet" href="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
<!-- 引入 jQuery 库 -->
<script src="http://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
<!-- 引入 jQuery Mobile 库 -->
<script src="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<script>
$(document).on("pageinit",function(event){
  $(".touch").on("swipeleft",function(event){
  	change();
  });  
  $(".touch").on("swiperight",function(event){
  	change();
  }); 
});
function change(){
    var tmp = "<span>XXXXXXX</span>";
    $(".text").html(tmp).css({"color":"red","font-size":"500%","text-align":"center"});               

}
</script>

<body id="scratch">
   <div class="container body" style="position:relative; background:#fff;">
    	<div class="head_box">
    		<img src="{:ADDON_PUBLIC_PATH}/parent.jpg" width="100%"/>
            <div class="title_layer">亲子游</div>
            <div class="style"></div>
        </div>
            <div class="box">
                <h6>使用说明</h6>
                <div>划划看</div>
            </div>
		<div class="touch">
		<div class="text" style="text-align:center;border:1px solid black;height:100px;"><br><br>滑动本区域</div>
		</div>
    	 <p class="copyright">{$system_copy_right}{$tongji_code}</p>
        </div>
</body>
</html>
