<include file="Public/mobile_head"/>
<link href="{:ADDON_PUBLIC_PATH}/parenting.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
<!-- 引入 jQuery Mobile 样式 -->
<link rel="stylesheet" href="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
<!-- 引入 jQuery 库 -->
<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
<!-- 引入 jQuery Mobile 库 -->
<script type="text/javascript" src="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<script type="text/javascript" src="{:ADDON_PUBLIC_PATH}/lib/iscroll.js"></script>
<script type="text/javascript" src="__JS__/m/dialog.js"></script>
<script type="text/javascript" src="__JS__/m/mobile_module.js"></script>
<script type="text/javascript">
    var myScroll;
    var loading;
    function loaded() {
//        $('#scroller').css("backgroundImage", "url({$scroller_img_url})");
//        $('#memo').css("backgroundImage", "url({$memo_img_url})");
//        $('#background').css("backgroundImage", "url({$background_img_url})");
        myScroll = new IScroll('#wrapper', {
            mouseWheel: true,
            indicators: [{
                    el: document.getElementById('starfield1'),
                    resize: false,
                    ignoreBoundaries: true,
                    speedRatioY: 0.4
                }, {
                    el: document.getElementById('starfield2'),
                    resize: false,
                    ignoreBoundaries: true,
                    speedRatioY: 0.2
                }]
        });
        myScroll.on('scrollEnd', function () {
            console.log(this.y);
            console.log($('#page').val());
            if (this.y === 0 && $('#page').val() > '1' && loading !== 1) {
                console.log('previousPage');
                var url = "{$previous_url}";
                $("#submitForm").attr("action", url);
                $("#submitForm").submit();
            }
            if (this.y <= -3373 && $('#page').val() < '3' && loading !== 1 ) {
                console.log('nextPage');
                var url = "{$next_url}";
                $("#submitForm").attr("action", url);
                $("#submitForm").submit();
            }
        });
    }
    function isPassive() {
        var supportsPassiveOption = false;
        try {
            addEventListener("test", null, Object.defineProperty({}, 'passive', {
                get: function () {
                    supportsPassiveOption = true;
                }
            }));
        } catch (e) {
        }
        return supportsPassiveOption;
    }
    document.addEventListener('touchmove', function (e) {
        e.preventDefault();
    }, isPassive() ? {
        capture: false,
        passive: false
    } : false);

</script>

</head>
<body onload="loaded()">
    <form id="submitForm" class="form-horizontal form-center">
        {$scroller_img_url}
        XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
        <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
        <div id="wrapper">
            <div id="scroller"></div>
        </div>

        <div class="starfield" id="starfield1">
            <div id="memo"></div>
        </div>

        <div class="starfield" id="starfield2">
            <div id="background"></div>
        </div>
        <input type="hidden" id="page" name="page" value="{$page}">
    </form>
</body>
</html>